*{
    margin: 0;
    padding: 0;
}
body{
    /* height: 100vh; */
    background: #161513;
    color: white;
    font-family: 'outfit';
}

html{
  scroll-behavior: smooth;
}

#home,
#about,
#services,
#work,
#contact {
  /* scroll-margin-top: 80px;  navbar height */
} 